/* Global styles */
body {
    overflow-x: hidden;
    max-width: 100%;
}

/* nav */

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#logo {
    margin-left: 1px;

}
#title {
    font-size: 1.2rem;
    color: #636060;
}

.navbar-nav .nav-link {
    margin-right: 15px;
    font-weight: 500;
    color: #6d6c6c;
    
}

/* Header */

#hero {
    background: url('../images/hero.png') no-repeat center center/cover;
    min-height: 300px;  
    
}

/* Main */

section {
    background-color: rgb(205, 217, 223);
}